.users-table-sort-buttons {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
}

.users-table-sort-buttons > a {
	display: block;
	width: 15px;
	height: 10px;
	position: relative;
}

.users-table-sort-buttons > .up {
	margin-bottom: 3px;
}

.users-table-sort-buttons > .up:after {
	bottom: 0;
	border-bottom: 6px solid #FFF;
}

.users-table-sort-buttons > .up.active:after {
	border-bottom-color: #000000;
}

.users-table-sort-buttons > .down.active:after {
	border-top-color: #000000;
}